@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes kiuru {
  0% {
    box-shadow: 0 0 8px #0bff99;
  }
  50% {
    box-shadow: 0 0 2px #0bff99;
  }
  100% {
    box-shadow: 0 0 8px #0bff99;
  }
}


.kiuru-title:hover {
  animation: kiuru 1s ease-in-out infinite;
}
